#contactUsPage {
    .contact-image-1 {
        background-image: linear-gradient(to top, $black, $trans-green, $black), url(../img/sample23.jpg);
        background-position: 65%;
        height: 84rem;
    }

}