* {
    border: 1px red solid;
}

// Defaults for Header, Nav, Footer

.jumbotron {
    padding: 0;
    margin: 0;
    background: $dark-green;
}

header {

    h2 {
        background-color: $white;
        background: linear-gradient( $white-green, $light-green, $white-green);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
    a.nav-link {
        padding: .6rem 0;;
        margin: 0;
    }
    p {
        color: $light-gray;
        font-weight: 300;
        font-size: 1.05rem;
    }  
}

nav {
    background: $green;

    button {
        width: 50%;
        height: 3rem;
    }
}

nav, footer {
    text-transform: uppercase;

    a {
        transition: .2s ease-in-out;
        font-size: 1.05rem;
    }


}

footer {
    background: $black-green;
}

.fa {
    transition: .2s ease-in-out;
}

//Defaults For Pages

html, body {
    height: 100%;
}

body {
    font-family: $font-main;
}

.image-section {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40rem;
}

.section-overlay {
    background: $trans-gray;
    color: $light-gray;
    margin-top: 4rem;
    position: absolute;
    left: 0;
    text-align: center;
}

p {
    margin: 2rem 0;
    font-size: $text-size;
}

.center-horizontal {
    left: 50%;
    transform: translatex(-50%);
}

hr {
    border: 3px solid rgb(0,99, 65);
    border-radius: 5px;
    margin: 3px;
}

.border-container {
    border: 2px $white solid;
}