#homeContainer {
    .home-image-1 {
        background-image: linear-gradient(to top, $black, $trans-green, $black), url(../img/sample4.jpg);
        background-position: 65%;

    }

    .home-image-2 {
        background-image: linear-gradient(to top, $black, $trans-green, $black), url(../img/sample8.jpg);
        background-position: 90%;

    }

    .home-image-3 {
        background-image: linear-gradient(to top, $black, $trans-green, $black), url(../img/sample13.jpg);
        background-position: 90%;

    }
}