.button {
    &-sizing {
        width: 100%;
    }

    &-half-size {
        width: 50%;
    }

    &-color {
        background: $dark-green;
    }
}

.bg {
    &-dark-green {
        background: $black-green;
    }
    &-green {
        background: $green;
    }
    &-light-green {
        background: $light-green;
    }
    &-mid-green {
        background: $mid-green;
    }
    &-light-gray {
        background: $light-gray;
    }
    &-gray {
        background: $gray;
    }
    &-dark-gray {
        background: $dark-gray;
    }
}


.center-horizontal {
    left: 50%;
    transform: translatex(-50%);
}