.button {
    &-sizing {
        width: 100%;
    }

    &-color {
        background: $dark-green;
    }
}

.bg {
    &-dark-green {
        background: $black-green;
    }
    &-green {
        background: $green;
    }
    &-light-green {
        background: $light-green;
    }
}

.center-horizontal {
    left: 50%;
    transform: translatex(-50%);
}