//Colors
$black: hsl(0, 0%, 0%);
$black-green: hsl(159, 100%, 9%);
$dark-green: hsl(159, 100%, 14%);
$green: hsl(159, 100%, 19%);
$mid-green: hsl(159, 100%, 27%);
$light-green: hsl(159, 100%, 39%);
$bright-green: hsl(159, 100%, 50%);
$white-green:hsl(159, 100%, 88%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(159, 14%, 88%);
$mid-gray: hsl(159, 1%, 76%);
$gray: hsl(159, 0%, 65%);
$dark-gray: hsl(159, 0%, 50%);
$trans-gray: rgba(47, 47, 47, 0.801);
$trans-background: rgba(0, 0, 0, 0.5);

//Fonts
$font-main: berlin sans FB, sans-serif;