body {
  font-family: berlin sans FB, sans-serif; }

.jumbotron {
  padding: 0;
  margin: 0;
  background: #00472e; }

header h2 {
  background-color: white;
  background: linear-gradient(#c2ffea, #00c781, #c2ffea);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; }

header a.nav-link {
  padding: .6rem 0;
  margin: 0; }

header p {
  color: #dce5e2;
  font-weight: 300;
  font-size: 1.05rem; }

nav {
  background: #00613f; }
  nav button {
    width: 50%;
    height: 3rem; }

nav, footer {
  text-transform: uppercase; }
  nav a, footer a {
    transition: .2s ease-in-out;
    font-size: 1.05rem; }

footer {
  background: #002e1e; }

.fa {
  transition: .2s ease-in-out; }

.image-section {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40rem; }

.section-overlay {
  background: rgba(46, 46, 46, 0.801);
  color: #dce5e2;
  margin-top: 4rem;
  position: absolute;
  left: 0;
  text-align: center; }

p {
  margin: 2rem 0;
  font-size: 1.2rem; }

.center-horizontal {
  left: 50%;
  transform: translatex(-50%); }

hr {
  border: 3px solid #006341;
  border-radius: 5px;
  margin: 3px; }

.button-sizing {
  width: 100%; }

.button-color {
  background: #00472e; }

.bg-dark-green {
  background: #002e1e; }

.bg-green {
  background: #00613f; }

.bg-light-green {
  background: #00c781; }

.bg-gray {
  background: #a6a6a6; }

.bg-dark-gray {
  background: #4a4a4a; }

.center-horizontal {
  left: 50%;
  transform: translatex(-50%); }

#containerMenu {
  background-color: #f0ebe0;
  border-top: 0;
  border-bottom: 0;
  padding-bottom: 5px;
  text-align: center; }
  #containerMenu ul {
    list-style: none;
    font-size: x-large; }
  #containerMenu h1 {
    background-color: #006341;
    color: white; }
  #containerMenu h2 {
    color: #006341;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px; }

.home-image-1 {
  background-image: linear-gradient(to top, black, rgba(0, 71, 46, 0.5), black), url(../img/sample4.jpg);
  background-position: 65%; }

.home-image-2 {
  background-image: linear-gradient(to top, black, rgba(0, 71, 46, 0.5), black), url(../img/sample8.jpg);
  background-position: 90%; }

.home-image-3 {
  background-image: linear-gradient(to top, black, rgba(0, 71, 46, 0.5), black), url(../img/sample13.jpg);
  background-position: 90%; }

.about-image-1 {
  background-image: linear-gradient(to top, black, rgba(0, 71, 46, 0.5), black), url(../img/sample26.jpg);
  background-position: 65%; }

.about-image-2 {
  background-image: linear-gradient(to top, black, rgba(0, 71, 46, 0.5), black), url(../img/sample12.jpg);
  background-position: 90%; }
